 /* SECTION CARDS */   
    

#section-cards h2 {
    text-align: center;
}


#section-cards {
    padding: 5rem 0;
}
    

.card {
    margin-top: 3rem;
}
    
.card img {
    height: 180px;
    width: 100%;
    transition: 1s;
}

.card img:hover {
    transform: scale(0.98);
    transition: 1s;
}

.card a {
    color: rgba(19, 128, 36, 0.90);
}
    
    
.card a:hover {
    color: rgb(19, 128, 36);
}