/* NAVBAR */
.navbar-brand {
    font-family: 'Cubano-Regular';
    padding-right: 15px;
}

#main-nav {
    font-family: 'Nunito-Regular';
}

#main-nav li a {
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

#main-nav li a:hover {
     border-bottom: 1px solid green;
    transition: 0.5s;
}