/* SECTION PARALLAX */
    
#section-parallax {
    text-align: center;
    background: url(../img/trees.jpg) center repeat fixed;
    padding: 140px 0;
    background-size: cover;
    color: white;
}